@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@500&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #E3CCAE;
}
  
.image-container {
  width: 60%;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
}
  
.image-container .card-image {
    
  height: 500px;
  width: 100%;
  display: block;
}
  
.container .content-container {
  background-color: white;
  padding: 20px;
  margin-top: -50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: 'Wix Madefor Display', sans-serif;
  background-color: #B8621B;
  display: flex;
  flex-direction: column;
    
}
  
.content-container .p-content-container {
  margin: 10px;
  color: black;
}

  
.link {
  margin-top: 20px;
}
  